.header {
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    box-shadow: 0px 0px 8px 0px rgba(98, 127, 172, 0.2);
}
.cart {
    margin-right: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.filter-icon {
    display: none;
    @media (max-width: 768px) {
        display: block;
    }
}
.filter-modal {
    display: flex;
    position: absolute;
    top: 30px;
    right: 60px;
}
.total-cart-item {
    position: absolute;
    color: #f08804;
    font-weight: 600;
    margin-bottom: 32px;
    margin-left: 6px;
}
